<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129370609547-tmpm2rh4pqbqc846isbfhgan9d342qbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129370609547-tmpm2rh4pqbqc846isbfhgan9d342qbm</string>
	<key>API_KEY</key>
	<string>AIzaSyAHoj7fcSm79JHMSz95aCSopVW0n3Rb3kM</string>
	<key>GCM_SENDER_ID</key>
	<string>129370609547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goBuddyGooMobile</string>
	<key>PROJECT_ID</key>
	<string>gobudddygoo-push-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>gobudddygoo-push-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129370609547:ios:d4a10d0437db61a49bc18e</string>
</dict>
</plist>